.consoleHolder{
    width:100%;
    padding:10px;
    display:none;
    
    .midiconsole{
        margin-top:5px;
        display:block;
        border:solid 1px #000;
        height:300px;
        overflow-y:scroll;
        margin-right:20px;
     
        .midimessage{
            margin:1px;
            padding:3px;
            background:#fafafa;
        }
        
        .midimessage:before{
            display:inline-block;
            content:attr(type)'->';
            font-size:10px;
            margin-right:10px;
            font-weight:bold;
        }
    
        .NoteOn:before{
            color:red;
        }
        
        .NoteOff:before{
            color:Crimson;
        }
        
        .ControlChange:before{
            color:blue;
        }
        
        .PitchBend:before{
            color:green;
        }
    }
    
    .cssToggle{
        margin-top:1px;
        display:inline-block;
        border:solid 1px #000;
        padding:2px 7px;
        cursor:pointer;
    }

    
}
.notes{
    .NoteOn, .NoteOff{
        display:none;
    }
    toggle[value=notes]{
       color:red;
    }
}

.control{
    .ControlChange{
        display:none;
    }
    toggle[value=control]{
       color:red;
    }
}

.pitchbend{
    .PitchBend{
        display:none;
    }
    toggle[value=pitchbend]{
       color:red;
    }
}

.sysex{
    toggle[value=sysex]{
       color:red;
    }
}

.show{
    display:block;
}